{% extends "home.html" %}

{% block content %}


<div class="row">
  	<div class="col-md-10"><h2>Quizzes</h2></div>
    <div class="col-md-4 col-sm-6">
    	<div class="panel panel-default">
           <div class="panel-heading"> <h3>Chinese</h3></div>
   			<div class="panel-body">
             
              <div class="clearfix"></div>
              <h4>Chinese Placement Test (Traditional)</h4>
              <h5><a href="/take/1">Go to Quiz</a></h5>
              
            </div>
         </div> 
    </div>
   </div>


{% endblock %}